<h1>Editing survey</h1>

<% form_for(@survey) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :described_person %><br />
    <%= f.text_field :described_person %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @survey %> |
<%= link_to 'Back', surveys_path %>