<h1>Neue Befragung</h1>

<% form_for(@survey) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :person_who_describes, t(:person_who_describes, :scope => :survey) %><br />
    <%= f.text_field :person_who_describes, :value => (session[:person_who_describes] or "")  %>
  </p>
  <p>
    <%= f.label :described_person, t(:described_person, :scope => :survey) %><br />
    <%= f.select(:described_person, Survey::PEOPLE_TO_DESCRIBE) %>
  </p>
  
  <table>
    <th class="row_label">
      <td>nie</td>
      <td>selten</td>
      <td>manchmal</td>
      <td>h&auml;ufig</td>
      <td>immer</td>
    </th>
    <%- Symlog::Description.names.each_with_index do |desc, i|-%>
      <tr class="table_row">
        <td class="row_label"><%= f.label desc, "#{i+1}. #{t(desc, :scope => :survey)}" %></td>
        <%- Survey::POSSIBLE_RATINGS.each do |value| -%>
          <td class="row_label">
            <%= f.radio_button desc, value %>
          </td>
        <%- end %>
      </tr>
    <% end %>
  </table>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', surveys_path %>