<h1>Neue Befragung</h1>

<% form_for(@survey) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :person_who_describes, t(:person_who_describes, :scope => :survey) %><br />
    <%= f.text_field :person_who_describes, :value => (session[:person_who_describes] or "")  %>
  </p>
  <p>
    <%= f.label :described_person, t(:described_person, :scope => :survey) %><br />
    <%= f.select(:described_person, @people_to_describe) %>
  </p>
  
  <table class="survey_table">
    <th>
      <td class="table_header centerize">nie</td>
      <td class="table_header centerize">selten</td>
      <td class="table_header centerize">manchmal</td>
      <td class="table_header centerize">h&auml;ufig</td>
      <td class="table_header centerize">immer</td>
    </th>
    <%- Symlog::Description.names.each_with_index do |desc, i|-%>
      <tr class="table_row">
        <td class="row_label"><%= f.label desc, "#{i+1}. #{t(desc, :scope => :survey)}" %></td>
        <%- Survey::POSSIBLE_RATINGS.each do |value| -%>
            <td class="row_label centerize">
              <label class="labeling" for="<%= "#{i+1}_#{value}" %>">&nbsp;
                 <%= f.radio_button desc, value, :id => "#{i+1}_#{value}" %>
              </label>
            </td>
          
        <%- end %>
      </tr>
    <% end %>
  </table>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', surveys_path %>