<p>
  <b>Described person:</b>
  <%=h @survey.described_person %>
</p>

<%- @survey.dimensions.each do |dimension| -%>
  <p>
    <b><%= dimension.name %> value:</b>
    <%= dimension.value %>
  </p>
<%- end -%>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>